body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#tblStudent2 {
    width: 100%;
    background: white;
    border: 1px solid #2cb4c2;
    border-radius: 4px !important;
}
#tblStudent2 thead tr {
    
}

#tblStudent2 thead tr td {
    padding: 6px 7px;
    background-color: #2cb4c2;
}

    
    #tblStudent2 tbody tr td {
        padding: 3px 7px;
            }
#tblStudent2 tbody tr:nth-child(even) {
    background-color: #f0f5f2;
}