body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*#region table */

table tr th {
    background-color: #aa9944;
    color: white;
}

table tr td:nth-child(1) {
    text-align: center;
    
}

table tr img {
    width: 44px;
}

table tr td {
   line-height:  44px !important;
}

table small {
    position: absolute;
    margin-top: -5px;
    margin-left: -32px;
    border: 1px solid #c4b7b7;
    border-radius: 3px;
    padding: 1px 4px;
    height: 12px;
    line-height: 1;
    font-size: 9px;
    background-color: bisque;
    display: none;
}

/*#endregion */