body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/*#region table */

table tr th {
    background-color: #c6e4e1;
    line-height: 35px !important;
}

table tr:nth-child(2n+1) {
    background-color: #f0f3f3;
}

table tr td {
    line-height: 30px !important;
}

/*#endregion */

.mybutton {
    padding: 10px;
    background-color: lightgray;
}

.mb-5{margin-bottom: 5px;}
.mb-10 {
    margin-bottom: 10px;
}
.mb-15 {
    margin-bottom: 15px;
}