body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*#region Table */

table tr th {
    background-color: #82794d;
    color: white;
}

    table tr th:nth-child(1) {
        width: 40px;
        background-color: transparent;
        border: none;
    }

    table tr th:last-child {
        width: 200px;
    }

table tr td:nth-child(1) {
    border: 1px solid lightgray;
}

table tr td  {
    line-height: 30px !important;
}


table tr td img {
    width: 44px;
}

/*#endregion */
